@import "../styles/header.css";

.bg {
    position: fixed;
    inset: 0; 
    background: url("../images/backgroundImage.jpg") center/cover no-repeat;
    z-index: -1; 
}

body {
    font-family: "Figtree", sans-serif;
    color: aliceblue;
}

.aboutMeText2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(29, 29, 29);
    width: 600px;
}